* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    font-family: Arial,sans-serif;
    background-color: #f2f2f2;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #ffffff;
    padding: 25px;
    width: 100%;
    max-width: 400px;

    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    margin-bottom: 10px;
}

p {
    text-align: center;
    color: #555;
    margin-bottom: 20px;
}

form {
    width: 10%;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

input {
    width: 100%;
    padding: 100px;
    margin-bottom: 15px;

    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

input:focus {
    outline: none;
    border-color: #007bff;
}

button {
    width: 100%;
    padding: 10px;

    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;

    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 480px) {
    .container {
        padding: 20px;
    }
}
